/* -------------------------------------------------------------
 * Title:   SCSS VARIABLES
 * Author:  http://themeforest.net/user/Kite-Themes
------------------------------------------------------------- */

////[Table of contents]

////1. Fonts
////2. Color
////3. Header height
////4. Hamburger


//// 1. Fonts ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


$font-stack: 'Poppins', sans-serif;
$heading-font: 'Josefin Slab', serif;
$button-text: 'Poppins', sans-serif;
$second-font: 'Montserrat', sans-serif;


//// 2. Color codes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// #ed727c, #ec6aec

$primary-color: #82c14f;
$primary-light-color: lighten($primary-color, 20%);

$main-text: #707070;
$title-text: #252525;
$tool-font: #636363;

$border-color: #e5e5e5;
$border-second-color: #e9e9e9;
$border-third-color: #e8e8e8;
$border-dark-color: #363636;
$border-third-color: #dfdfdf;
$border-header-tabs: #ed727c;
$border-image: #ebebeb;

$nav-bg: #1e1e1e;
$bg-popup: #111111;

$black: #000000;
$white: #FFFFFF;
$gray: #c5c5c5;
$qty_bg: #f4f6f9;

$icon-list: #959595;
$social-color: #b2b2b2;
$second-color: #898989;

//// 3. Header height ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


$header-height: 60px;
$header-sticky: 60px;

//// 4. Hamburger ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$hamburger-heighticon: 12px;
$hamburger-widthline: 20px;
$hamburger-heightline: 2px;

$hamburger-transition-time: 0.4s;
$hamburger-rotation: 45deg;
$hamburger-translateY: ($hamburger-heighticon / 2);
$hamburger-translateX: 0;