/*
 * Title:   Responsive Style File
 * Author:  http://themeforest.net/user/Kite-Themes
 */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Styles for devices(<=1300px)
2. Styles for devices(>=1200px)
3. Styles for devices(<=1199px)
4. Styles for devices(<=991px )
5. Styles for devices(>=768px and <= 991px)
6. Styles for devices(<=767px )
7. Styles for devices(>=481px and <= 767px)
8. Styles for devices(<=480px )
9. Styles for devices(<=320px )
*/

@import 'mixin';
@import 'variables';

/* 1. Retina logo */
@media only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
  .site-branding .site-logo.retina-logo-wrapper .retina-logo{ display: block; }
  .site-branding .site-logo.retina-logo-wrapper .default-logo { display: none; }
}
/* 8. Styles for devices(<=1199px) */
@media (max-width: 1199px) {

  .sticky-placeholder,
  #header-content{
    display: none;
  }
  #header-content-mobile{
    display: block;
  }
}

@media (max-width: 991px) {
	.woocommerce{
		table.cart {
			tbody{
				td{
					&.actions{
						padding: 20px;
						a,input{
							margin: 0 2%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.main-class.col-md-12{
	  .entry-header,
	  .entry-content-outer,
	  nav.post-navigation,
	  .author-info,
	  #related-article,
	  #comments{
	    margin-left:0;
	    margin-right:0;
	  }
	}

	.main-class.col-md-12{
	  .blog-posts-list{
	  	.entry-main-content,
	    .list-media-wrapper{
	      width: 100%;
	      margin: 0 0 30px;
	    }
	  }
	}
	.blog-posts-list {
	  .list-media-wrapper,
	  .entry-main-content{
	    width: 100%;
	    margin: 0 0 30px;
	  }
	}

	.woocommerce{
		table.cart {
			tbody{
				td{
					&.actions{
						a,input{
							width: 100%!important;
							margin: 0;
						}
						a{
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}

	.table-responsive{
		border-color: $border-color;
	}
}

@media (max-width: 600px) {
	.woocommerce{
		ul.shop-products{
			&.lists{
				li.product{
					.product-image-container,
					.product-attr-container{
						width: 100%;
						margin: 0 0 30px;
						padding: 0;
					}
				}
			}
		}
	}
	.woocommerce{
	  .upsells-products,
	  .related-products,
	  .cross-sells {
	    > h3{
	        font-size: 30px;
	    }
	  }
	}

	body.opened-nav-animate{
	    &.admin-bar{
	      #wpadminbar{
	        margin-top: -46px;
	      }
	    }
	  }
}
@media (max-width: 480px) {
	.comment-content{
		padding: 0;
		border: none;
		> .star-rating{
			float: none;
			margin-bottom: 10px;
		}
	}
	.comment-meta{
		padding: 0;
	}
	.woocommerce-before-shop{
		form{
			&.woocommerce-ordering,
			&.woocommerce-per-page{
				width: 100%;
				margin: 0 0 30px;
			}
		}
	}
	#customer_details {
	    .woocommerce-billing-fields,
	    .woocommerce-shipping-fields {
	    	> p{
			    padding:0;
			    label{
			    	position: static;
			    }
	    	}
	    }
	}
}