/*
 * Title:   WingMan - E-Commerce and Blog Wordpress Theme
 * Author:  http://themeforest.net/user/Kite-Themes
 */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Base Styles
  1.1. Common styles
  1.2. Helper CSS


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import 'mixin';
@import 'variables';


/* ==============================
   1. Common styles
   ============================== */
/*
 * 1.1 Common styles
 */
::-moz-selection {
  color: #fff;
  background: $primary-color;
}

::selection {
  color: #fff;
  background: $primary-color;
}

html, body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

iframe {
  border: none;
}

a{
  &:hover{
    @include transition(all 0.3s ease 0s);
  }
  &:focus,
  &:active{
    @include css3-prefix('outline', 'none');
  }
}

img:not([draggable]), embed, object, video {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 30px;
}

.appear-animate .wow {
  visibility: hidden;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


/*
 * 1.2. Helper CSS
 */
.kt-table {
  display: table;
  width: 100%;
  height: 100%;
  .kt-col {
    display: table-cell;
    vertical-align: middle;
  }
}

.round {  @include border-radius(2px);  }
.circle {  @include border-radius(100%);  }
.square {  @include border-radius(0);  }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.kt-column-bg{
  @include css3-prefix('background-size', 'cover');
  background-position: center center;
  background-repeat: no-repeat;
}

.letter-spacing{  letter-spacing: 0.2em; }
.text-nomal{ text-transform: none; }

.white{ color: #fff !important; }
.black{ color: #111 !important; }
.gray{ color: $gray!important; }


/* ==============================
   3. Typography
   ============================== */
/*
 * 3.1 Typography common styles
 */

body {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 24px;
  color: $main-text;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0 0 20px;
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

h1, h2, h3{
  letter-spacing: 0.2em;
}

a {
  color: $primary-color;
  &:hover,
  &:focus{
    color: $primary-light-color;
    text-decoration: none;
  }
}

.font-light {
  font-weight: 300;
}

.font-black {
  font-weight: 900;
}



/* ==============================
   4. Forms fields
   ============================== */
input[type=email],
input[type=password],
input[type=phone],
input[type=tel],
input[type=text],
textarea {
  border: 2px solid $border-color;
  color: $gray;
  padding: 6px 12px;
  height: 40px;
  background: none;
  @include border-radius(0);
  @include css3-prefix('box-shadow', 'none');
  @include css3-prefix('appearance', 'none');
  @include css3-prefix('transition', 'none');
  width: 100%;
  &:focus {
    @include css3-prefix('box-shadow', 'none');
    border-color: $gray;
    outline: 0;
    color: $gray;
  }
}

textarea {
  height: auto;
}

input[type=email].input-bg,
input[type=password].input-bg,
input[type=phone].input-bg,
input[type=tel].input-bg,
input[type=text].input-bg,
textarea.input-bg{
  background: #f6f6f6;
  border: 1px solid #f0f0f0;
  font-size: 12px;
  letter-spacing: 0.075em;
}

select {
  @include border-radius(0);
  width: 100%;
  height: 40px;
  line-height: 1.42857;
  padding: 6px 12px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  color: $gray;
}

select:not([multiple]) {
  @include css3-prefix('box-shadow', 'none');
  @include css3-prefix('appearance', 'none');
  background: url(../images/selectbox-arrow.png) no-repeat right center;
}

.form-control {
  @include border-radius(0);
  @include css3-prefix('box-shadow', 'none');
  :focus {
    @include css3-prefix('box-shadow', 'none');
  }
}



/* ==============================
   5. Buttons
   ============================== */

.btn {
  @include border-radius(0);
  border: 2px solid transparent;
  display: inline-block;
  line-height: 1.42857;
  padding: 8px 26px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: $button-text;
  &:focus,
  &:active:focus,
  &.active:focus {
    outline: none;
  }
  &.active,
  &:active {
    @include css3-prefix('box-shadow', 'none');
  }

  /* Button size */
  &.btn-xs {
    padding: 6px 10px;
    font-size: 8px;
  }
  &.btn-sm {
    padding: 8px 20px;
    font-size: 10px;
  }
  &.btn-lg {
    padding: 10px 60px;
    font-size: 18px;
  }
  &.btn-xlg {
    padding: 12px 65px;
    font-size: 20px;
  }

  /* Button shapes */
  &.btn-round {
    border-radius: 3px;
  }
  &.btn-circle {
    border-radius: 30px;
  }

  /* Button icon */
  &.button-icon-left {
    margin-right: 5px;
  }
  &.button-icon-right {
    margin-left: 5px;
  }

  /* Button style */
  &.btn-default {
    background: #000000;
    color: #FFFFFF;
    border-color: #000000;
  }
  &.btn-animation{
    span{
      @include transform(translateX(0));
      @include transition("all .3s ease-in-out 0s");
      display: block;
      position: relative;
      i{
        @include opacity(0);
        @include transition("all .3s ease-in-out 0s");
        @include transform(translate(30px, -50%));
        position: absolute;
        right: 0;
        top:50%;
      }
    }
    &:hover{
      span{
        @include transform(translateX(-10px));
        i{
          @include opacity(1);
        }
      }
    }
  }
}



/* ==============================
   10. Header
   ============================== */
/*
 * 10.1 Header common styles
 */
#site-title,
#site-description{
  display: none;
}
.header-branding-outer{
  position: relative;
  z-index: 200;
}


.site-branding{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  .site-logo{
    margin: 0;
    padding: 0;
  }
}

#main-nav-tool{
  @include translate(y);
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    float: right;
    margin-left: 25px;
    &:last-child{
      margin-left: 0;
    }
    > a{
      color: $tool-font;
      font-size: 14px;
      display: inline-block;
      position: relative;
      &:hover{
        color: $primary-color;
      }
    }
    &.mini-cart{
      > a{
        span{
          position: absolute;
          width: 15px;
          height: 15px;
          background: $primary-color;
          @include border-radius(50%);
          top: -10px;
          right: - 10px;
          font-size: 10px;
          text-align: center;
          line-height: 17px;
          color: #FFFFFF;

        }
      }
    }

  }
}
.menu-bars-outer{
  @include translate(y);
  left: 0;
  > a{
    display: block;
    line-height: 1;
    padding: 4px 10px 4px 0;
  }
  .menu-bars-items{
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    border-top: 2px solid $primary-color;
    width: 170px;
    text-align: left;
    .menu-bars-item{
      border-bottom: 1px solid $border-color;
      padding: 22px 30px;
      &:last-child{
        border: none;
      }
      &.menu-bars-currency{
        li{
          a{
            padding-left: 30px;
            position: relative;
            display: block;

            span{
              overflow: hidden;
              background-color: transparent;
              @include box-shadow(0, 0, 0, #000000, 'inset', 1px);
              @include transition(background 0.3s ease);
              @include border-radius(50%);
              left: 0;
              position: absolute;
              top: 4px;
              width: 14px;
              display: block;
              height: 14px;
              &:after{
                content: '';
                position: absolute;
                bottom: 0;
                height: 0;
                left: 0;
                width: 100%;
                background-color: $primary-color;
                @include transition(height 0.3s ease);
              }
            }

            &:hover,
            &:focus{

              span{
                @include box-shadow(0, 0, 0, $primary-color, 'inset', 1px);
                &:after{
                  height: 100%;
                }
              }
            }



          }
        }
      }
    }
    h4{
      font-size: 14px;
      margin-bottom: 10px;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        padding: 5px 0;
        a{
          color: $title-text;
          &:hover{
            color: $primary-color;
          }
        }

      }
    }

  }

}


#main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  >li{
    position: relative;
    display: inline-block;
    ul{
      display: none;
    }
  }
}






.nav-container{
  background: #1e1e1e;
}

/*
 * 10.2. Header sticky
 */


/*
 * 10.3. Header layout version
 */


/*
 * 10.4. Header color version
 */


/* ==============================
   2. Widgets
   ============================== */
.widget-container {
    margin-bottom: 40px;
}
.widget-title{
  color: $title-text;
  position: relative;
  font-size: 18px;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
  line-height: normal;
  margin-bottom: 35px;
  &:after,&:before{
    content:"";
    height:13px;
    width:2px;
    background: $title-text;
    position: absolute;
    left:0;
    top:50%;
    @include transform(translateY(-70%));
  }
  &:after{
    left:auto;
    right:0;
  }
}

.widget_rss,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_nav_menu,
.widget_meta,
.widget_archive,
.widget_categories,
.widget_product_categories,
.yith-woocompare-widget{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      position: relative;
      margin: 0;
      line-height: normal;
    }
  }
}

.widget_nav_menu,
.widget_meta,
.widget_archive,
.widget_categories,
.widget_product_categories{
  ul{
    li{
      a{
        text-transform: uppercase;
      }
      span{
        font-size: 11px;
        margin-left: 5px;
      }
    }
  }
}
.widget_categories,
.widget_product_categories{
  ul{
    li{
      span.icon-toggle{
        width:20px;
        height:20px;
        position: absolute;
        margin: 0;
        right:0;
        top:12px;
        line-height: 20px;
        text-align: right;
        cursor: pointer;
        &:after{
          content:"\f067";
          font-family:FontAwesome;
          font-size:8px;
        }
      }
    }
  }
}
.widget_pages,
.widget_nav_menu,
.widget_product_categories,
.widget_categories{
  ul{
    li{
      ul.children{
        li{
          ul.children{
            padding-left: 25px;
          }
          a{
            padding-left: 40px;
            &:after{
              left: 15px;
            }
          }
        }
      }
    }
  }
}

.widget_rss,
.widget_recent_comments,
.widget_recent_entries{
  ul{
    li:after{
      width: 8px;
      height: 8px;
      content: "";
      background: $icon-list;
      position: absolute;
      left: 0;
      top: 18px;
      border-radius:100%;
      color: $icon-list;
      @include transition("all .3s ease 0s");
    }
    li:hover:after{
      background: $primary-color;
      color: $primary-color;
    }
  }
}
.widget_nav_menu,
.widget_pages,
.widget_product_categories,
.widget_categories,
.widget_archive,
.widget_meta,
.yith-woocompare-widget{
  ul{
    li{
      a{
        color: $title-text;
        text-transform: uppercase;
        line-height: 18px;
        font-size: 14px;
        &:after{
          width: 8px;
          height: 8px;
          content: "";
          background: $icon-list;
          position: absolute;
          left: 0;
          top: 18px;
          border-radius:100%;
          color: $icon-list;
          @include transition("all .3s ease 0s");
        }
        &:hover:after{
          background: $primary-color;
          color: $primary-color;
        }
      }
    }
  }
}

.widget_rss,
.widget_recent_comments,
.widget_recent_entries{
  ul{
    li{
      display: block;
      padding: 15px 0 15px 30px;
      border-bottom:1px solid $border-color;
    }
  }
}
.widget_pages,
.widget_nav_menu,
.widget_meta,
.widget_archive,
.widget_product_categories,
.widget_categories,
.yith-woocompare-widget{
  ul{
    li{
      a{
        display: block;
        padding: 15px 0 15px 30px;
        border-bottom:1px solid $border-color;
        &:hover,&:focus{
          color: $primary-color;
        }
      }
    }
  }
}


/**
 * Tag Clound
 **/
.widget_product_tag_cloud,.widget_tag_cloud{
  .tagcloud{
    overflow: hidden;
    a{
      font-size: 13px !important;
      line-height: normal !important;
      display: inline-block;
      float: left;
      margin: 0 10px 10px 0;
      @include transition(all 0.3s ease 0s);
      padding: 8px 11px;
      color: #8f8f8f;
      border: 1px solid $border-color;
      &:hover,&:focus{
        color: #fff;
        background: $primary-color;
        border-color: $primary-color;
      }
    }
  }
}
/**
 * Calendar
 **/
#calendar_wrap{
  border: 1px solid $border-color;
  table{
    border-collapse: collapse;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    border: none;
    text-align: center;
    caption{
      text-align: center;
    }
    tfoot{
      display: block;
      position: absolute;
      top: 2px;
      width: 100%;
      tr{
        display: block;
        width: 100%;
        > td{
          border: none;
          float: left;
          padding: 8px 0;
          &#prev{
            padding-left: 10px;
            text-align: left;
            width: 75px;
          }
          &#next{
            float: right;
            padding-right: 10px;
            text-align: right;
            width: 75px;
          }
        }
      }
    }
    tbody,thead{
      th,td{
        padding: 10px;
        border: 1px solid $border-color;
        line-height: normal;
        &:first-child{
          border-left: 0;
        }
        &:last-child{
          border-right: 0;
        }
      }
      th{
        border-bottom: 0;
        text-align: center;
        font-weight: bold;
      }
      td#today{
        color: #fff;
        background: $primary-color;
        a{
          color: #fff;
        }
      }
    }
  }
}
/* ==============================
   3. Blog
   ============================== */
.blog-posts-image{
  .format-quote,
  .format-link,
  .format-image,
  .format-video,
  .format-audio,
  .format-gallery{
    .entry-thumb:before{
      font-family: 'ElegantIcons';
      font-weight: normal;
      font-style: normal;
      background: rgba(255,255,255,.4);
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 20px;
      @include border-radius(50%);
      content: "\e005";
      @include translate();
      color: rgba(0,0,0,.7);
      text-align: center;
      @include transition();
    }
  }
    
}