/*
 * Title:   WingMan - E-Commerce and Blog Wordpress Theme
 * Author:  http://themeforest.net/user/Kite-Themes
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Base Styles
  1.1. Common styles
  1.2. Helper CSS


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
/* -------------------------------------------------------------
 * Title:   SCSS VARIABLES
 * Author:  http://themeforest.net/user/Kite-Themes
------------------------------------------------------------- */
/* ==============================
   1. Common styles
   ============================== */
/*
 * 1.1 Common styles
 */
::-moz-selection {
  color: #fff;
  background: #82c14f; }

::selection {
  color: #fff;
  background: #82c14f; }

html, body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

iframe {
  border: none; }

a:hover {
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
a:focus, a:active {
  -webkit-outline: none;
  -khtml-outline: none;
  -moz-outline: none;
  -ms-outline: none;
  -o-outline: none;
  outline: none; }

img:not([draggable]), embed, object, video {
  max-width: 100%;
  height: auto; }

p {
  margin-bottom: 30px; }

.appear-animate .wow {
  visibility: hidden; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

/*
 * 1.2. Helper CSS
 */
.kt-table {
  display: table;
  width: 100%;
  height: 100%; }
  .kt-table .kt-col {
    display: table-cell;
    vertical-align: middle; }

.round {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.circle {
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }

.square {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

.kt-column-bg {
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.letter-spacing {
  letter-spacing: 0.2em; }

.text-nomal {
  text-transform: none; }

.white {
  color: #fff !important; }

.black {
  color: #111 !important; }

.gray {
  color: #c5c5c5 !important; }

/* ==============================
   3. Typography
   ============================== */
/*
 * 3.1 Typography common styles
 */
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
  min-width: 320px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0 0 20px;
  font-family: "Josefin Slab", serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000; }

h1, h2, h3 {
  letter-spacing: 0.2em; }

a {
  color: #82c14f; }
  a:hover, a:focus {
    color: #b8dc9a;
    text-decoration: none; }

.font-light {
  font-weight: 300; }

.font-black {
  font-weight: 900; }

/* ==============================
   4. Forms fields
   ============================== */
input[type=email],
input[type=password],
input[type=phone],
input[type=tel],
input[type=text],
textarea {
  border: 2px solid #e5e5e5;
  color: #c5c5c5;
  padding: 6px 12px;
  height: 40px;
  background: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: none;
  -khtml-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  width: 100%; }
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=phone]:focus,
  input[type=tel]:focus,
  input[type=text]:focus,
  textarea:focus {
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #c5c5c5;
    outline: 0;
    color: #c5c5c5; }

textarea {
  height: auto; }

input[type=email].input-bg,
input[type=password].input-bg,
input[type=phone].input-bg,
input[type=tel].input-bg,
input[type=text].input-bg,
textarea.input-bg {
  background: #f6f6f6;
  border: 1px solid #f0f0f0;
  font-size: 12px;
  letter-spacing: 0.075em; }

select {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 40px;
  line-height: 1.42857;
  padding: 6px 12px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  color: #c5c5c5; }

select:not([multiple]) {
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: url(../images/selectbox-arrow.png) no-repeat right center; }

.form-control {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  .form-control :focus {
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

/* ==============================
   5. Buttons
   ============================== */
.btn {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 2px solid transparent;
  display: inline-block;
  line-height: 1.42857;
  padding: 8px 26px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  /* Button size */
  /* Button shapes */
  /* Button icon */
  /* Button style */ }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none; }
  .btn.active, .btn:active {
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn.btn-xs {
    padding: 6px 10px;
    font-size: 8px; }
  .btn.btn-sm {
    padding: 8px 20px;
    font-size: 10px; }
  .btn.btn-lg {
    padding: 10px 60px;
    font-size: 18px; }
  .btn.btn-xlg {
    padding: 12px 65px;
    font-size: 20px; }
  .btn.btn-round {
    border-radius: 3px; }
  .btn.btn-circle {
    border-radius: 30px; }
  .btn.button-icon-left {
    margin-right: 5px; }
  .btn.button-icon-right {
    margin-left: 5px; }
  .btn.btn-default {
    background: #000000;
    color: #FFFFFF;
    border-color: #000000; }
  .btn.btn-animation span {
    -webkit-transform: translateX(0);
    -khtml-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    -khtml-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    display: block;
    position: relative; }
    .btn.btn-animation span i {
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-opacity: 0;
      -khtml-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out 0s;
      -khtml-transition: all .3s ease-in-out 0s;
      -moz-transition: all .3s ease-in-out 0s;
      -ms-transition: all .3s ease-in-out 0s;
      -o-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
      -webkit-transform: translate(30px, -50%);
      -khtml-transform: translate(30px, -50%);
      -moz-transform: translate(30px, -50%);
      -ms-transform: translate(30px, -50%);
      -o-transform: translate(30px, -50%);
      transform: translate(30px, -50%);
      position: absolute;
      right: 0;
      top: 50%; }
  .btn.btn-animation:hover span {
    -webkit-transform: translateX(-10px);
    -khtml-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }
    .btn.btn-animation:hover span i {
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-opacity: 1;
      -khtml-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1; }

/* ==============================
   2. Widgets
   ============================== */
.widget-container {
  margin-bottom: 40px; }

.widget-title {
  color: #252525;
  position: relative;
  font-size: 18px;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
  line-height: normal;
  margin-bottom: 35px; }
  .widget-title:after, .widget-title:before {
    content: "";
    height: 13px;
    width: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-70%);
    -khtml-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    transform: translateY(-70%); }
  .widget-title:after {
    left: auto;
    right: 0; }

/*# sourceMappingURL=style.css.map */
