/*
 * Title:   WingMan - E-Commerce and Blog Wordpress Theme
 * Author:  http://themeforest.net/user/Kite-Themes
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Base Styles
  1.1. Common styles
  1.2. Helper CSS


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
/* -------------------------------------------------------------
 * Title:   SCSS VARIABLES
 * Author:  http://themeforest.net/user/Kite-Themes
------------------------------------------------------------- */
/* ==============================
   1. Common styles
   ============================== */
/*
 * 1.1 Common styles
 */
::-moz-selection {
  color: #fff;
  background: #82c14f; }

::selection {
  color: #fff;
  background: #82c14f; }

html, body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

iframe {
  border: none; }

a:hover {
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
a:focus, a:active {
  -webkit-outline: none;
  -khtml-outline: none;
  -moz-outline: none;
  -ms-outline: none;
  -o-outline: none;
  outline: none; }

img:not([draggable]), embed, object, video {
  max-width: 100%;
  height: auto; }

p {
  margin-bottom: 30px; }

.appear-animate .wow {
  visibility: hidden; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

/*
 * 1.2. Helper CSS
 */
.kt-table {
  display: table;
  width: 100%;
  height: 100%; }
  .kt-table .kt-col {
    display: table-cell;
    vertical-align: middle; }

.round {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.circle {
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }

.square {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

.kt-column-bg {
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.letter-spacing {
  letter-spacing: 0.2em; }

.text-nomal {
  text-transform: none; }

.white {
  color: #fff !important; }

.black {
  color: #111 !important; }

.gray {
  color: #c5c5c5 !important; }

/* ==============================
   3. Typography
   ============================== */
/*
 * 3.1 Typography common styles
 */
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
  min-width: 320px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0 0 20px;
  font-family: "Josefin Slab", serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000; }

h1, h2, h3 {
  letter-spacing: 0.2em; }

a {
  color: #82c14f; }
  a:hover, a:focus {
    color: #b8dc9a;
    text-decoration: none; }

.font-light {
  font-weight: 300; }

.font-black {
  font-weight: 900; }

/* ==============================
   4. Forms fields
   ============================== */
input[type=email],
input[type=password],
input[type=phone],
input[type=tel],
input[type=text],
textarea {
  border: 2px solid #e5e5e5;
  color: #c5c5c5;
  padding: 6px 12px;
  height: 40px;
  background: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: none;
  -khtml-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  width: 100%; }
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=phone]:focus,
  input[type=tel]:focus,
  input[type=text]:focus,
  textarea:focus {
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #c5c5c5;
    outline: 0;
    color: #c5c5c5; }

textarea {
  height: auto; }

input[type=email].input-bg,
input[type=password].input-bg,
input[type=phone].input-bg,
input[type=tel].input-bg,
input[type=text].input-bg,
textarea.input-bg {
  background: #f6f6f6;
  border: 1px solid #f0f0f0;
  font-size: 12px;
  letter-spacing: 0.075em; }

select {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 40px;
  line-height: 1.42857;
  padding: 6px 12px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  color: #c5c5c5; }

select:not([multiple]) {
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: url(../images/selectbox-arrow.png) no-repeat right center; }

.form-control {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  .form-control :focus {
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

/* ==============================
   5. Buttons
   ============================== */
.btn {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 2px solid transparent;
  display: inline-block;
  line-height: 1.42857;
  padding: 8px 26px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  /* Button size */
  /* Button shapes */
  /* Button icon */
  /* Button style */ }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none; }
  .btn.active, .btn:active {
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn.btn-xs {
    padding: 6px 10px;
    font-size: 8px; }
  .btn.btn-sm {
    padding: 8px 20px;
    font-size: 10px; }
  .btn.btn-lg {
    padding: 10px 60px;
    font-size: 18px; }
  .btn.btn-xlg {
    padding: 12px 65px;
    font-size: 20px; }
  .btn.btn-round {
    border-radius: 3px; }
  .btn.btn-circle {
    border-radius: 30px; }
  .btn.button-icon-left {
    margin-right: 5px; }
  .btn.button-icon-right {
    margin-left: 5px; }
  .btn.btn-default {
    background: #000000;
    color: #FFFFFF;
    border-color: #000000; }
  .btn.btn-animation span {
    -webkit-transform: translateX(0);
    -khtml-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    -khtml-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    display: block;
    position: relative; }
    .btn.btn-animation span i {
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-opacity: 0;
      -khtml-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out 0s;
      -khtml-transition: all .3s ease-in-out 0s;
      -moz-transition: all .3s ease-in-out 0s;
      -ms-transition: all .3s ease-in-out 0s;
      -o-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
      -webkit-transform: translate(30px, -50%);
      -khtml-transform: translate(30px, -50%);
      -moz-transform: translate(30px, -50%);
      -ms-transform: translate(30px, -50%);
      -o-transform: translate(30px, -50%);
      transform: translate(30px, -50%);
      position: absolute;
      right: 0;
      top: 50%; }
  .btn.btn-animation:hover span {
    -webkit-transform: translateX(-10px);
    -khtml-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }
    .btn.btn-animation:hover span i {
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-opacity: 1;
      -khtml-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1; }

/* ==============================
   2. Widgets
   ============================== */
.widget-container {
  margin-bottom: 40px; }

.widget-title {
  color: #252525;
  position: relative;
  font-size: 18px;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
  line-height: normal;
  margin-bottom: 35px; }
  .widget-title:after, .widget-title:before {
    content: "";
    height: 13px;
    width: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-70%);
    -khtml-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    transform: translateY(-70%); }
  .widget-title:after {
    left: auto;
    right: 0; }

.widget_rss ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_nav_menu ul,
.widget_meta ul,
.widget_archive ul,
.widget_categories ul,
.widget_product_categories ul,
.yith-woocompare-widget ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .widget_rss ul li,
  .widget_pages ul li,
  .widget_recent_comments ul li,
  .widget_recent_entries ul li,
  .widget_nav_menu ul li,
  .widget_meta ul li,
  .widget_archive ul li,
  .widget_categories ul li,
  .widget_product_categories ul li,
  .yith-woocompare-widget ul li {
    position: relative;
    margin: 0;
    line-height: normal; }

.widget_nav_menu ul li a,
.widget_meta ul li a,
.widget_archive ul li a,
.widget_categories ul li a,
.widget_product_categories ul li a {
  text-transform: uppercase; }
.widget_nav_menu ul li span,
.widget_meta ul li span,
.widget_archive ul li span,
.widget_categories ul li span,
.widget_product_categories ul li span {
  font-size: 11px;
  margin-left: 5px; }

.widget_categories ul li span.icon-toggle,
.widget_product_categories ul li span.icon-toggle {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 0;
  right: 0;
  top: 12px;
  line-height: 20px;
  text-align: right;
  cursor: pointer; }
  .widget_categories ul li span.icon-toggle:after,
  .widget_product_categories ul li span.icon-toggle:after {
    content: "\f067";
    font-family: FontAwesome;
    font-size: 8px; }

.widget_pages ul li ul.children li ul.children,
.widget_nav_menu ul li ul.children li ul.children,
.widget_product_categories ul li ul.children li ul.children,
.widget_categories ul li ul.children li ul.children {
  padding-left: 25px; }
.widget_pages ul li ul.children li a,
.widget_nav_menu ul li ul.children li a,
.widget_product_categories ul li ul.children li a,
.widget_categories ul li ul.children li a {
  padding-left: 40px; }
  .widget_pages ul li ul.children li a:after,
  .widget_nav_menu ul li ul.children li a:after,
  .widget_product_categories ul li ul.children li a:after,
  .widget_categories ul li ul.children li a:after {
    left: 15px; }

.widget_rss ul li:after,
.widget_recent_comments ul li:after,
.widget_recent_entries ul li:after {
  width: 8px;
  height: 8px;
  content: "";
  background: #959595;
  position: absolute;
  left: 0;
  top: 18px;
  border-radius: 100%;
  color: #959595;
  -webkit-transition: all .3s ease 0s;
  -khtml-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }
.widget_rss ul li:hover:after,
.widget_recent_comments ul li:hover:after,
.widget_recent_entries ul li:hover:after {
  background: #82c14f;
  color: #82c14f; }

.widget_nav_menu ul li a,
.widget_pages ul li a,
.widget_product_categories ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_meta ul li a,
.yith-woocompare-widget ul li a {
  color: #252525;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 14px; }
  .widget_nav_menu ul li a:after,
  .widget_pages ul li a:after,
  .widget_product_categories ul li a:after,
  .widget_categories ul li a:after,
  .widget_archive ul li a:after,
  .widget_meta ul li a:after,
  .yith-woocompare-widget ul li a:after {
    width: 8px;
    height: 8px;
    content: "";
    background: #959595;
    position: absolute;
    left: 0;
    top: 18px;
    border-radius: 100%;
    color: #959595;
    -webkit-transition: all .3s ease 0s;
    -khtml-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s; }
  .widget_nav_menu ul li a:hover:after,
  .widget_pages ul li a:hover:after,
  .widget_product_categories ul li a:hover:after,
  .widget_categories ul li a:hover:after,
  .widget_archive ul li a:hover:after,
  .widget_meta ul li a:hover:after,
  .yith-woocompare-widget ul li a:hover:after {
    background: #82c14f;
    color: #82c14f; }

.widget_rss ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li {
  display: block;
  padding: 15px 0 15px 30px;
  border-bottom: 1px solid #e5e5e5; }

.widget_pages ul li a,
.widget_nav_menu ul li a,
.widget_meta ul li a,
.widget_archive ul li a,
.widget_product_categories ul li a,
.widget_categories ul li a,
.yith-woocompare-widget ul li a {
  display: block;
  padding: 15px 0 15px 30px;
  border-bottom: 1px solid #e5e5e5; }
  .widget_pages ul li a:hover, .widget_pages ul li a:focus,
  .widget_nav_menu ul li a:hover,
  .widget_nav_menu ul li a:focus,
  .widget_meta ul li a:hover,
  .widget_meta ul li a:focus,
  .widget_archive ul li a:hover,
  .widget_archive ul li a:focus,
  .widget_product_categories ul li a:hover,
  .widget_product_categories ul li a:focus,
  .widget_categories ul li a:hover,
  .widget_categories ul li a:focus,
  .yith-woocompare-widget ul li a:hover,
  .yith-woocompare-widget ul li a:focus {
    color: #82c14f; }

/**
 * Tag Clound
 **/
.widget_product_tag_cloud .tagcloud, .widget_tag_cloud .tagcloud {
  overflow: hidden; }
  .widget_product_tag_cloud .tagcloud a, .widget_tag_cloud .tagcloud a {
    font-size: 13px !important;
    line-height: normal !important;
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    -webkit-transition: all 0.3s ease 0s;
    -khtml-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 8px 11px;
    color: #8f8f8f;
    border: 1px solid #e5e5e5; }
    .widget_product_tag_cloud .tagcloud a:hover, .widget_product_tag_cloud .tagcloud a:focus, .widget_tag_cloud .tagcloud a:hover, .widget_tag_cloud .tagcloud a:focus {
      color: #fff;
      background: #82c14f;
      border-color: #82c14f; }

/**
 * Calendar
 **/
#calendar_wrap {
  border: 1px solid #e5e5e5; }
  #calendar_wrap table {
    border-collapse: collapse;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    border: none;
    text-align: center; }
    #calendar_wrap table caption {
      text-align: center; }
    #calendar_wrap table tfoot {
      display: block;
      position: absolute;
      top: 2px;
      width: 100%; }
      #calendar_wrap table tfoot tr {
        display: block;
        width: 100%; }
        #calendar_wrap table tfoot tr > td {
          border: none;
          float: left;
          padding: 8px 0; }
          #calendar_wrap table tfoot tr > td#prev {
            padding-left: 10px;
            text-align: left;
            width: 75px; }
          #calendar_wrap table tfoot tr > td#next {
            float: right;
            padding-right: 10px;
            text-align: right;
            width: 75px; }
    #calendar_wrap table tbody th, #calendar_wrap table tbody td, #calendar_wrap table thead th, #calendar_wrap table thead td {
      padding: 10px;
      border: 1px solid #e5e5e5;
      line-height: normal; }
      #calendar_wrap table tbody th:first-child, #calendar_wrap table tbody td:first-child, #calendar_wrap table thead th:first-child, #calendar_wrap table thead td:first-child {
        border-left: 0; }
      #calendar_wrap table tbody th:last-child, #calendar_wrap table tbody td:last-child, #calendar_wrap table thead th:last-child, #calendar_wrap table thead td:last-child {
        border-right: 0; }
    #calendar_wrap table tbody th, #calendar_wrap table thead th {
      border-bottom: 0;
      text-align: center;
      font-weight: bold; }
    #calendar_wrap table tbody td#today, #calendar_wrap table thead td#today {
      color: #fff;
      background: #82c14f; }
      #calendar_wrap table tbody td#today a, #calendar_wrap table thead td#today a {
        color: #fff; }

/* ==============================
   3. Blog
   ============================== */
.blog-posts-image .format-quote .entry-thumb:before,
.blog-posts-image .format-link .entry-thumb:before,
.blog-posts-image .format-image .entry-thumb:before,
.blog-posts-image .format-video .entry-thumb:before,
.blog-posts-image .format-audio .entry-thumb:before,
.blog-posts-image .format-gallery .entry-thumb:before {
  font-family: 'ElegantIcons';
  font-weight: normal;
  font-style: normal;
  background: rgba(255, 255, 255, 0.4);
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: "\e005";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

/*# sourceMappingURL=style.css.map */
