/*------------------------------------------------------------------
[Table of contents]

1. Woocommerce Common
2. Woocommerce shopping cart
3. Woocommerce product quickview
4. woocommerce widgets
5. Woocommerce shop products
6. Product Detail
7. Upsells, Related, Cross-sells
8. Page Cart
9. Page Checkout
10. Page Wist list
--------------------------------------------------------------------*/
@import 'mixin';
@import 'variables';

/** ================================================
    1. Woocommerce Common
*** ================================================*/


.yith-woocompare-widget,
.woocommerce{
	a.remove{
	    color: $main-text !important;
	    width:30px;
	    height:30px;
	    border:2px solid $border-color;
	    border-radius:0;
	    font-size:0;
	    line-height: 26px;
	    &:hover{
	    	color: red !important;
    		background: none !important;
	    }
	    &:after{
	    	content: '\f00d';
		    font-family: FontAwesome;
		    font-size: 18px;
		    font-style: normal;
		    font-weight: normal;
		    letter-spacing: 0;
	    }
	  }
}
.woocommerce{

  .star-rating{
    font-size: 11px;
    width: 75px;
    letter-spacing: 4px;
    span:before{
      color: $primary-color;
    }
  }

  p.stars{
    a{
      color: $title-text;
      &:hover{
        color: $primary-color;
      }
    }
  }

  span.kt_new,
  span.onsale{
    background: $title-text;
    border-radius: 0;
    color: $white;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 22px;
    min-height: 0;
    min-width: 50px;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 19px;
    z-index: 1;
    letter-spacing: 0.2em;
    left: 19px;
  }
  span.onsale{
    background: $primary-color;
    right: 19px;
    left: auto;
  }



  #respond input#submit,
  a.button,
  button.button,
  input.button,
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    background: $title-text;
    border: 2px solid $title-text;
    border-radius: 0;
    color: $white;
    font-size: 13px;
    line-height: 1.42857;
    padding: 8px 25px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.2em;
    &:hover{
      background: $primary-color;
      color: $white;
      border-color: $primary-color;
    }
  }
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    background:  $title-text;
    color: $white;
  }
  #respond input#submit.alt.disabled,
  #respond input#submit.alt.disabled:hover,
  #respond input#submit.alt:disabled,
  #respond input#submit.alt:disabled:hover,
  #respond input#submit.alt[disabled]:disabled,
  #respond input#submit.alt[disabled]:disabled:hover,
  a.button.alt.disabled,
  a.button.alt.disabled:hover,
  a.button.alt:disabled,
  a.button.alt:disabled:hover,
  a.button.alt[disabled]:disabled,
  a.button.alt[disabled]:disabled:hover,
  button.button.alt.disabled,
  button.button.alt.disabled:hover,
  button.button.alt:disabled,
  button.button.alt:disabled:hover,
  button.button.alt[disabled]:disabled,
  button.button.alt[disabled]:disabled:hover,
  input.button.alt.disabled,
  input.button.alt.disabled:hover,
  input.button.alt:disabled,
  input.button.alt:disabled:hover,
  input.button.alt[disabled]:disabled,
  input.button.alt[disabled]:disabled:hover {
    background: $primary-color;
  }

  div.product{
    p.price,
    span.price{
      color: $primary-color;
      del{
        display: inline-block;
        margin-right: 5px;
        font-size: smaller;
      }
      ins{
        text-decoration: none;
      }
    }
  }

  ul.shop-products{
    .added_to_cart,
    .button,
    .product-quick-view{
      background: $title-text;
      border: none;
      width: 100%;
      height: 40px;
      color: #FFFFFF;
      position: relative;
      padding: 0;
      margin: 0;
      display: block;
      text-indent: -9999px !important;
      @include opacity(1);
      &:hover{
        background: $primary-color;
      }
    }
    .added_to_cart{
      text-indent: 0!important;
      position: absolute;
      width: 50%;
      display: none!important;
    }
  }


  &.compare-button,
  .yith-wcwl-add-button,
  .yith-wcwl-wishlistaddedbrowse,
  .yith-wcwl-wishlistexistsbrowse{
    background: $title-text;
    border: none;
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    text-indent: -9999px !important;
    &:hover{
      background: $primary-color;
    }
  }
  &.compare-button,
  .yith-wcwl-add-button,
  .yith-wcwl-wishlistaddedbrowse,
  .yith-wcwl-wishlistexistsbrowse{
    a,
    a.add_to_wishlist{
      padding: 0;
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      margin: 0 !important;
      border: none;
      &:hover{
        background: $primary-color;
      }
      &:before{
        font-size: 14px;
        @include FontAwesome('\f08a');
        height: 100%;
        left: 0;
        line-height: 40px;
        position: absolute;
        text-indent: 0;
        text-transform: none;
        top: 0;
        color: $white;
        width: 100%;
        text-align: center;
      }
    }
  }
  .yith-wcwl-wishlistaddedbrowse,
  .yith-wcwl-wishlistexistsbrowse{
    a{
      &:before{
        content: '\f004';
      }
    }
  }

  .product-quick-view:before{
    @include FontAwesome('\f002');
    font-size: 14px;
    height: 100%;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-indent: 0;
    text-transform: none;
    top: 0;
    color: $white;
    width: 100%;
    text-align: center;
  }

  .button.loading{
    @include opacity(1);
  }
  
  .product-quick-view.loading:before,
  .button.loading:before{
    @include FontAwesome('\f110');
    @include animation(spin 2s linear infinite);
    font-size: 20px;
    @include opacity(1);
  }

  .button.addtocart_button.loading:before{
    display: none;
  }

  input#submit.loading,
  a.button.loading,
  button.button.loading,
  input.button.loading{
    &:after{
      right:0;
      top:-2px;
    }
    &.added::after{
      vertical-align: unset;
    }
  }
  .yith-wcwl-add-to-wishlist{
    .ajax-loading{
      height: 40px !important;
      left: 0;
      margin: 0 !important;
      position: absolute;
      top: 0;
      width: 100% !important;
      font-size: 20px;
      font-variant: normal;
      font-weight: normal;
      text-indent: 0;
      background: $primary-color;
      i{
        display: block;
        line-height: 40px;
      }
    }
  }

  .woocommerce-per-page,
  .woocommerce-ordering{
    float: left;
    margin-bottom: 30px;
    position: relative;

    select:not([multiple]){
      min-width: 262px;
      background: none;
      color: #707070;
      border-color: #e5e5e5;
    }

    &:after{
      @include FontAwesome('\f107');
      @include translate(y);
      pointer-events: none;
      right: 12px;
      font-size: 14px;
      color: $primary-color;
    }
  }

  .woocommerce-per-page{
    margin-right: 30px;
  }

}



.woocommerce.compare-button,
.yith-wcwl-add-to-wishlist {
    text-align: center;
    margin: 0;
    .feedback{
    	display: none;
    }
}


.woocommerce.compare-button{
	a:before{
      content: "\f0ec";
	}
	.blockUI.blockOverlay{
		background: $primary-color !important;
	    opacity: 1 !important;
	    cursor: pointer !important;
	    &:before{
          background: none !important;
          color: $white;
          @include FontAwesome('\f110');
          @include animation(spin 2s linear infinite);
          font-size: 20px;
          height: 100%;
          left: 0;
          line-height: 40px;
          margin: 0 !important;
          opacity: 0.6;
          text-indent: 0;
          top: 0;
          width: 100% !important;
	    }
	}
}
.woocommerce,
.woocommerce-page{
  div.quantity-group{
      background: $qty_bg;
      display: block;
      float: left;
      margin: 0 30px 10px 0;
      padding:0 20px;
      position: relative;
      width: 87px;
      .input-text{
          @include border-radius(0);
          float: left;
          border: none;
          padding: 0 6px;
          text-align: center;
          width: 100%;
          height: 40px;
          font-size: 14px;
          color: $title-text;
          background: $qty_bg;
          @include css3-prefix('appearance','textfield');
      }
      button[type=button]{
          border: medium none;
          color: $title-text;
          height: 100%;
          line-height: 17px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
          background: $qty_bg;
          font-size:14px;
          text-align: center;
          &.quantity-minus{
              border: none;
              left:0;
              bottom: 0;
              top: auto;
          }
      }
  }

  table.shop_table{
    border: none;
    border-radius: 0;
    th{
      color: $title-text;
      line-height: normal;
      padding: 10px 0;
      text-align: left;
      text-transform: uppercase;
      border-top: none;
    }
    tfoot{
      td,th{
        border-top: none;
      }
    }
  }
  ul#shipping_method{
    white-space: nowrap;
  }
  td.product-name{
    dl.variatio{
      dt,dd{
        margin-bottom: 0;
      }
    }
  }
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message{
    border: 2px solid $border-color!important;
    padding: 17px 25px !important;
    color: $title-text;
    &:before{
      display: none;
    }
  }
  .woocommerce-error{
    background: #fff0ed;
    border-color: #ea4f21;
    color: $primary-color;
  }
  .woocommerce-info,
  .woocommerce-message{
    background: $qty_bg;
    border-color: $border-color !important;
  }
  .woocommerce-message{
    .button.wc-forward{
      background: none;
      color: #515151;
      float: right;
      line-height: normal;
      margin: 5px 0 0;
      padding: 0;
      border: none;
      &:after{
        content: '\f0da';
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        margin-left: 5px;
      }
      &:hover{
        color: $primary-color;
      }
    }
  }
}

.shop-thumb{
  margin-bottom: 30px;
}

/** ================================================
    2. Woocommerce shopping cart
*** ================================================*/
.mini-cart{
  .shopping-bag{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1002;
    line-height: normal;
    width: 260px;
    text-align: left;
    @include transition();
    @include transform(translate(0, 40px));
    @include opacity(0);
    @include box-shadow();
    display: block;
    visibility: hidden;
    .loading_overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $white;
      @include opacity(0.6);
      i{
          font-size: 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -15px;
          margin-left: -15px;
      }
    }
  }
  &:hover{
    .shopping-bag{
      @include transform(translate(0, 0));
      @include opacity(1);
      visibility: visible;
    }
    > a:after{
      display: block;
    }
  }
  .shopping-bag-wrapper {
    @include box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.3));
    background: $white;
    border-top: 2px solid $primary-color;
    .cart-title{
        display: none;
    }
  }
}


.cart_block_no_products {
  margin: 0;
  padding: 20px 20px;
  color: $main-text;
}

.bag-products {
  height: auto;
  overflow-y: auto;
  max-height: 380px;
  .bag-product{
      font-weight: normal;
      margin: 0 0 15px 20px;
      overflow: hidden;
      padding: 0;
      position: relative;
      &:last-child{
          margin-bottom: 0;
      }
      .bag-product-details {
          overflow: hidden;
          padding: 0 30px 0 10px;
          position: relative;
          text-align: left;
      }
      figure{
          float: left;
          img{
              max-width: 65px;
              height: auto;
          }
      }
      a.remove{
          border-radius: 0;
          right: 0;
          position: absolute;
          top: 15px;
          width: 20px;
          height: 20px;
          border: 1px solid $border-color;
          line-height: 17px;
          &:after{
              margin: 0;
              font-size: 12px;
          }
          &:hover{
              color: red !important;
          }
      }
      .bag-product-title{
          margin: 0 0 15px;
          font-size: 14px;
          font-family:$font-stack;
          font-weight: normal;
          line-height: normal;
          text-transform: none;
          letter-spacing: 0;
          a{
              color: $title-text;
              &:hover{
                  text-decoration: none;
                  color: $primary-color;
              }
          }
      }
      dl.variation{
          margin-bottom: 3px;
          dt{
              display: inline-block;
              font-weight: 400;
              margin: 0 4px 0 0;
          }
          dd{
              display: inline-block;
              margin: 0 4px 0 0;
              p{
                  margin: 0;
                  padding: 0;
                  &:after{
                      content: ',';
                  }
              }
              &:last-child{
                  margin-right: 0;
                  &:after{
                      content: '';
                  }
              }
          }
      }
      .bag-product-price,
      .bag-product-qty{
          display: inline-block;
          font-family:$heading-font;
          font-size:14px;
          color:$main-text;
          letter-spacing: 0.2em;
          font-weight: 700;
      }
      .bag-product-qty {
          text-transform: uppercase;
          display: inline-block;
          &:before{
              content: "|";
              margin: 0 6px;
          }
      }
  }
}

.bag-products-content {
  padding: 20px 0;
}
.bag-total {
  border-top: 1px solid $border-color;
  line-height: 30px;
  padding: 7px 0;
  margin: 0 20px;
  strong{
      font-weight:600;
      text-transform: uppercase;
      color:$border-dark-color;
      letter-spacing: 0.025em;
  }
  .amount{
      float: right;
      font-size:18px;
      font-family:$heading-font;
      font-weight: 700;
      letter-spacing: 0.2em;
      color: $main-text;
  }
}
.bag-buttons {
    padding: 0 20px 20px;
    .bag-buttons-content{
    	margin: 0;
      > span{
        display: block;
        width: 100%;
        margin: 0 0 10px;
        &:last-child{
          margin: 0;
        }
        a{
          display: block;
          width:100%;
        }
        .btn{
          padding-left: 0;
          padding-right: 0;
          display: block;
          font-weight: 600;
          &.btn-viewcart{
            border-width: 2px;
          }
        }
      }
    }
}


body{
	.mCSB_inside,.mCustomScrollBox{
		> .mCSB_container {
		    margin-right: 15px!important;
		}
	}

	.mCSB_scrollTools {
	    width: 10px;
	    background: $border-color;
	    @include opacity(1);
	    .mCSB_draggerRail{
	    	@include border-radius(0);
		    background: none;
	    }
	    .mCSB_dragger{
	    	.mCSB_dragger_bar{
	    		background: $primary-color;
			    @include border-radius(0);
			    width: 10px;
	    	}
	    	&:hover,&:focus,&.mCSB_dragger_onDrag{
				.mCSB_dragger_bar{
					background: $primary-color;
				    @include opacity(0.8);
				}
	    	}
	    }
	}
} 
/** ================================================
    2. Grid list Toggle
*** ================================================*/
.woocommerce{
  .gridlist-toggle{
    float: right;
    margin: 0 0 30px;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      margin-left: 10px;
      float: left;
      a{
        width: 40px;
        height: 40px;
        border: 1px solid $border-color;
        display: block;
        text-align: center;
        line-height: 30px;
        color: $border-color;
        position: relative;
        &:hover,
        &.active{
          background: $primary-color;
          border-color: $primary-color;
          color: $white;
        }
        &.list{
          span.style-toggle{
            display: inline-block;
            width: 20px;
            height: 21px;
            position: absolute;
            @include translate();
            span{
              margin-left: 4px;
              width: 16px;
              height: 3px;
              background: $border-color;
              display: block;
              margin-bottom: 3px;
              position: relative;
              &:last-child{
                margin-bottom: 0;
              }
              &:before{
                width: 3px;
                height: 3px;
                background: $border-color;
                position: absolute;
                left: -4px;
                top: 0;
                content: "";
              }
            }
          }
          &:hover,
          &:focus,
          &.active{
            span.style-toggle{
              span{
                background: $white;
                &:before{
                  background: $white;
                }
              }
            }
          }

        }
        &.grid{

          span.style-toggle{
            display: inline-block;
            width: 18px;
            height: 18px;
            position: absolute;
            @include translate();
            span{
              width: 7px;
              height: 7px;
              border: 2px solid $border-color;
              display: block;
              float: left;
              margin: 1px;
            }
          }

          &:hover,
          &:focus,
          &.active{
            span.style-toggle{
              span{
                border: 2px solid $white;
              }
            }
          }
        }
      }
    }
  }
}

/** ================================================
    3. Woocommerce product quickview
*** ================================================*/
.woocommerce.kt-product-popup {
    background: #FFFFFF;
    margin: auto;
    max-width: 900px;
    padding: 20px;
    position: relative;
    div.product{
    	div.summary{
    		width: 100%;
		    float: none;
		    margin: 0;
    	}
    }
    .functional-buttons-product,
    .woocommerce-review-link{
    	display: none;
    }
}
/** ================================================
    4. woocommerce widgets
*** ================================================*/
.woocommerce{
  ul.product_list_widget{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        padding: 0 0 20px;
        position: relative;
        &:last-child{
            padding-bottom: 0;
        }
        img{
            float: left;
            width: 65px;
            margin: 0 15px 5px 0;
            height: auto;
            border:1px solid $border-color;
        }
        a{
            color: $title-text;
            display: block;
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 6px;
            padding-right: 15px;
            &:hover{
                color: $primary-color;
            }
        }
        span.amount{
            font-size:18px;
            color:$main-text;
            font-family:$heading-font;
            letter-spacing: 0.2em;
            font-weight: 700;
        }
    }
    .star-rating{
        float: none;
        margin: 0 0 10px;
        height: 18px;
    }
  }

  ul.cart_list,
  ul.product_list_widget{
      li{
          dl{
              &:before,
              &:after{
                  display: none;
              }
          }
      }
  }

  ul.product_list_widget{
      li{
          dl.variation{
              border: medium none;
              padding: 0;
              dd,dt{
                  clear: none;
                  display: inline-block;
                  float: none;
                  margin-bottom: 0;
              }
          }
      }
  }
  .widget_shopping_cart{
      .cart_list{
          li{
              padding: 0 0 20px;
              a.remove{
                  left: auto;
                  margin: 0;
                  right: 0;
                  top: 0;
                  width: auto;
                  padding: 0;
              }
          }
      }
      .total{
          padding-top: 10px;
          border-top: 1px solid $border-color;
          margin-top: 20px;
          .amount{
              float: right;
          }
      }
      .buttons{
          margin: 0 -4px;
          > span{
              display: block;
              float: left;
              padding: 0 4px;
              width: 50%;
          }
      }
      .btn{
          padding-left: 0;
          padding-right: 0;
          text-align: center;
          width: 100%;
          &.btn-dark-b:hover{
              background: $title-text;
              border-color: $title-text;
              color: $white;
          }
      }
  }
	.widget_price_filter{
		.price_slider_wrapper{
			.ui-widget-content{
				background: $border-color;
			    margin-bottom: 35px;
			    height:2px;
			}
		}
		.ui-slider{
			margin-left: 1px;
    		margin-right: 1px;
			.ui-slider-handle{
				background: $primary-color;
			    width: 13px;
			    height:13px;
			    margin-left: 0;
			    border-radius:100%;
    			margin-top: -2px;
			    &:last-child{
			    	margin-left: -7px;
			    }
			}
			.ui-slider-range{
				background: $primary-color;
			}
		}
		.price_slider_amount{
			text-align: left;
	    font-size: 14px;
	    color:$border-dark-color;
	    text-transform: uppercase;
	    .price_label{
	    	span{
	    		color: $primary-color;
	    	}
	    }
	    .button{
	    	float: right;
	    	color: $title-text;
        background: none;
        text-transform: uppercase;
        &:hover,&:focus{
          color: $primary-color;
        }
	    }
		}
	}
}
.yith-woocompare-widget{
	.clear-all{
		display: inline-block;
    	margin-top: 10px;
	}
	ul.products-list{
		margin-bottom: 20px;
		a.remove{
			position: absolute;
		    top: 0;
		    right: 0;
		}
	}
	a.remove {
	    text-indent: -999px;
	    overflow: hidden;
	    position: relative;
	    &:after{
	    	text-indent: 0;
		    position: absolute;
		    right: 0;
		    top: 0;
	    }
	}
}
.price_slider_amount {
	.price_label {
	    line-height: 42px;
	}
}

.widget_layered_nav{
  ul{
    li{
      margin-bottom: 30px;
      a{
        color: $title-text;
        text-transform: uppercase;
        &:hover{
          color: $primary-color;
        }
      }
      span.count{
        float: right;
        color: $title-text;
      }
    }
  }
}
/** ================================================
    5. Woocommerce shop products
*** ================================================*/
.woocommerce{
	ul.shop-products{
		padding: 0;
	    margin: 0;
	    list-style: none;
	    li.product{
	    	position: relative;
    		padding-bottom: 40px;
    		.product-short-description{
    			display: none;
    		}
    		.product-item-container{
				position: relative;
    			overflow: hidden;
    		}
    		.product-image-container{
    			margin-bottom: 25px;
			    position: relative;
			    overflow: hidden;
			    a.product-thumbnail{
			    	display: block;
				    overflow: hidden;
				    position: relative;
            border:1px solid $border-image;
			    }
			    .product-thumbnail-effect{
			    	img.second-img{
			    		left: 0;
					    @include opacity(0);
					    position: absolute;
					    top: 0;
			    	}
			    }
    		}
    		.product-image-content{
    			position: relative;
    		}
    		img.product-img{
    			@include box-shadow(none);
			    display: block;
			    height: auto;
			    margin: 0;
			    width: 100%;
			    @include transition();
    		}
    		&:hover{
    			.product-image-container{
				    .product-thumbnail-effect{
				    	img.second-img{
						    @include opacity(1);
				    	}
				    }
	    		}
    		}
    		&:hover{
    			.addtocart_button,
    			.product-image-tool{
    				@include transform(translatey(0));
    			}
    			.added_to_cart{
    				@include transform(translatey(-40px));
    			}
    		}
	    }
	    h3{
          font-size: 14px;
          font-weight: normal;
          letter-spacing: 0.2em;
          font-family:Poppins;
          text-align: center;
          margin: 0 0 8px;
          text-transform: none;
          padding: 0;
          mark{
            background: none;
            padding: 0;
          }
          a{
            color: $title-text;
            &:hover{
                color: $primary-color;
            }
          }
	    }
	    .star-rating{
	    	display: block;
		    margin-top: 2px;
		    float:none;
		    margin: 0 auto;
		    height: 18px;
	    }
	    .kt-woocommerce-tool-lists{
	    	display: none;
	    }
	    &.lists{
			li.product{
				width: auto;
			    float: none;
			    text-align: left;
			    padding-bottom: 30px;
			    .product-image-container{
			    	width: 33%;
				    float:left;
				    margin:0;
			    }
			    .product-attr-container{
			    	width:67%;
				    float:left;
				    padding-left:30px;
            position: relative;
			    }
			    .product-image-content{
			    	.product-image-tool,
			    	.added_to_cart,
			    	.addtocart_button{
			    		display: none!important;
			    	}
			    }
			    .product-short-description{
			    	display: block;
			    }
			    .added_to_cart{
    				float: right;
    				width: 50%;
    			}
			}
			.kt-woocommerce-tool-lists{
				width:266px;
			    position: relative;
			    height:40px;
			    margin-top: 60px;
			    display: block;
				.product-image-tool,
				.added_to_cart,
				.addtocart_button{
					@include transform(translateY(0));
					@include transition('none');
					@include css3-prefix('transition-delay', '0');
				}
			}
	    }
	}
	ul.shop-products,div.product{
		p.price,
		span.price,
		.price{
	    	display: block;
		    color: $main-text;
		    font-size: 22px;
		    line-height: normal;
		    text-align:center;
		    letter-spacing: 0.2em;
		    font-family:$heading-font;
		    margin: 15px 0 0;
		    font-weight: 700;
		    del{
          font-size: 80%;
			    text-decoration: line-through;
			    color: $main-text;
		    }
		    ins{
		    	text-decoration: none;
		    }
	    }
	    &.lists{
	    	p.price,
  			span.price,
  			.price{
  				text-align: left;
  			    margin-bottom: 20px;
  			    font-size:22px;
  			}
  			.star-rating{
  				position: absolute;
  			    right:0;
  			    top:10px;
  			}
  			h3{
  				font-size:24px;
  		    text-align: left;
  		    padding-right: 90px;
  		    letter-spacing: 0;
  			}
	    }
	}
	.product-image-tool{
		width:50%;
        position: absolute;
        bottom:0;
        left: 0;
        @include transform(translatey(40px));
        @include transition();



        .tooltip{
          white-space: nowrap;
        }
	}
	.tool-3{
		.tool-inner{
			width: 33.3333%;
		}
	}
	.tool-2{
		.tool-inner{
			width: 50%;
		}
	}
	.tool-1{
		.tool-inner{
			width: 100%;
		}
	}
	.tool-inner{
	    height: 40px;
	    padding: 0;
	    z-index: 1;
	    float: left;
      padding-right: 1px;
	    > div, > a{
	    	width: 100%!important;
	    	margin: 0!important;
	    }
	}
	.added_to_cart,
	.addtocart_button{
		right:0;
	    width:50%;
	    position: absolute;
	    bottom:0;
	    height: 40px;
	    z-index: 1;
	    text-indent: 0!important;
	    line-height: 40px;
	    font-size:13px;
	    font-weight:600;
	    @include transform(translatey(40px));
	    @include transition();
	    text-transform: uppercase;
	    text-align: center;
	    letter-spacing: 0;
	    border: none;
	    padding: 0;
      &.loading,&.added{
        text-indent: -999px;
        overflow: hidden;
        font-size: 0;
        &:after{
          @include FontAwesome('\f110');
          @include animation(spin 2s linear infinite);
          position: absolute;
          top:0;
          left:50%;
          margin-left: -8px;
          font-size: 20px;
        }
      }
      &.added{
        &:after{
          @include FontAwesome('\f00c');
          @include opacity(1);
          @include animation('none');
          font-size: 16px;
        }
      }
	}
}
/** =========================
    6. Product Detail
*** =========================*/
.product-detail-inner {
    margin-bottom: 50px;
}
.woocommerce{
	.easyzoom-flyout{
		img{
			max-width: none !important;
    		width: auto !important;
		}
	}
	div.product{
		.woocommerce-product-rating{
			margin:0;
		    position: absolute;
		    right:15px;
		    top:0;
		    float:right;
		    .woocommerce-review-link{
		    	display: none;
		    }
		}
		.product_title{
			font-size: 24px;
		    font-family:$font-stack;
		    font-weight: normal;
		    line-height: normal;
		    margin: 0 0 20px;
		    padding: 0 90px 0 0;
		    color: $title-text;
		    text-transform: capitalize;
		}
		&.wc-single-product{
			.entry-summary{
				p.price{
					font-size: 22px;
				    margin:0 0 20px;
				    color: $main-text;
				    letter-spacing: 0.2em;
				    font-family:$heading-font;
				    font-weight:700;
				    text-align: left;
				}
				span.price{
					color: $title-text;
				    display: inline-block;
				    font-size: 18px;
				    margin-bottom: 15px;
				    margin-right: 10px;
				}
			}
		}
		p.stock{
			background: $title-text;
		    color: $white;
		    display: inline-block;
		    font-size: 0.92em;
		    line-height: normal;
		    margin-bottom: 15px;
		    padding: 3px 5px;
		}
		p.out-of-stock{
			background: red;
		}
	}
	#content{
		div.product{
			div.images,
			div.summary{
				float: none;
	    		width: 100%;
			}
		}
	}
	.product-detail-thumbarea{
		position: relative;
		.single-product-main-images{
          border: 1px solid $border-third-color;
          margin-bottom: 30px;
          .owl-controls{
            bottom: 15px;
            margin: 0;
            position: absolute;
            right: 15px;
            .owl-buttons{
              > div{
                background: $white;
                color: #999999;
                display: inline-block;
                font-size: 18px;
                height: 30px;
                line-height: 30px;
                margin: 0 0 0 5px;
                padding: 0;
                text-transform: uppercase;
                width: 30px;

                @include box-shadow(1px, 0, 3px, rgba($black, .1));
                @include opacity(1);
                @include border-radius(0);

                :hover{
                  color: $primary-color;
                }
              }
            }
          }
		}
		.single-product-main-thumbnails{
			margin-bottom: 30px;
			margin-left: -14px;
		    margin-right: -14px;
		    width: auto;
		    .owl-item{
		    	padding: 0 14px;
		    	&.synced{
		    		a{
		    			border-color:$primary-color;
		    		}
		    	}
		    	a{
		    		border:1px solid $border-color;
    				display: inline-block;
		    	}
		    }
		}

    &.slick-carousel{
      position: relative;
      padding-left: 130px;
      .single-product-main-thumbnails{
        position: absolute;
        width: 102px;
        top:0;
        left: 0;
        margin: -8px 0;
        .slick-slide{
          margin: 8px 0;
          border:1px solid $border-color;
          cursor: pointer;
          &.slick-current{
            border-color: $primary-color;
          }
        }
        .slick-arrow{
          left: 50%;
          margin-left: -10px;
          right: auto;
          color: $title-text;
          border:1px solid $black;
          @include transform(translate(0));
          @include opacity(0);
          z-index: 1;
          &.slick-prev{
            top:15px;
            &:before{
              @include FontAwesome('\f106');
              line-height: 10px;
            }
          }
          &.slick-next{
            bottom:15px;
            top:auto;
            &:before{
              @include FontAwesome('\f107');
            }
          }
          &:before{
            color: $title-text;
            font-size: 16px;
            @include opacity(1);
          }
          &:hover,&:focus{
            color: $primary-color;
            border-color: $primary-color;
            &:before{
              color: $primary-color;
            }
          }
        }
        &:hover{
          .slick-arrow{
            @include opacity(1);
          }
        }
      }
      .single-product-main-images{
        .slick-arrow{
          @include transform(translate(0));
          color: $title-text;
          border:1px solid $black;
          bottom: 10px;
          top:auto;
          width: 30px;
          height: 30px;
          z-index: 10;
          &.slick-prev{
            right: 50px;
            left: auto;
            &:before{
              @include FontAwesome('\f104');
            }
            &:after{
              width: 11px;
              content: "";
              height: 1px;
              background: $title-text;
              position: absolute;
              left: 100%;
              top: 15px;
            }
          }
          &.slick-next{
            right: 10px;
            &:before{
              @include FontAwesome('\f105');
            }
          }
          &:before{
            color: $title-text;
          }
          &:hover,&:focus{
            color: $primary-color;
            border-color: $primary-color;
            &:before{
              color: $primary-color;
            }
          }
        }
      }
    }
	}
}
.woocommerce-page,
.woocommerce{
	div.product{
		&.wc-single-product{
			.quantity-group{
				span{
					display: block;
				}
			}
			.product-short-description{
				margin-bottom: 25px;
		    border-bottom:1px solid $border-second-color;
		    padding:0 0 20px;
			}
			.functional-buttons-product{
				float: left;
        margin-bottom: 10px;
        .functional-buttons{
          > div{
            float: left;
            width: 41px;
          }
        }
			}
			.compare-button,
			.yith-wcwl-add-to-wishlist{
			    margin: 0 1px 0 0;
          width: 40px;
			}
			.compare-button{
				a{
					border: none;
				}
			}
		}
		&.product-type-external.wc-single-product{
			.functional-buttons-product{
				margin-bottom: 20px;
			}
		}
		form.cart{
            .variation_form_section,
			.variations{
                margin-bottom: 30px;
                padding-bottom: 20px;
			    width: 100%;
			    border-bottom:1px solid $border-second-color;
                .variations-table,
                td.variations-label{
                  padding: 12px 12px 15px 0;
                  vertical-align: top;
                  label{
                    font-weight: normal;
                    margin: 0;
                    padding: 0;
                    color:$title-text;
                    min-width: 100px;
                    display: inline-block;
                  }

				}
                .variations-table{
                  td{
                    padding: 5px 0;
                  }
                }
				td.variations-value{
					border: medium none;
				    padding: 5px 0 15px;
				    vertical-align: top;
				}
			}
			.group_table{
				margin-bottom: 30px;
				td{
					padding-bottom: 20px;
    				vertical-align: middle;
				}
				div.quantity-group{
					margin: 0;
				}
				.quantity-group{
					span{
						display: none;
					}
				}
				.label{
					display: table-cell;
				    font-size: 100%;
				    font-weight: normal;
				    white-space: inherit;
				}
				label{
					display: inline;
				    font-weight: normal;
				    margin: 0;
				}
			}
		}
		.entry-share-box{
			padding:18px 0;
		    color:$title-text;
		    border-bottom:1px solid $border-second-color;
		    border-top:1px solid $border-second-color;
		}
		.product_meta{
			clear: both;
    		margin: 20px 0;
    		> span{
    			margin-right: 10px;
			    color:$title-text;
			    text-transform: uppercase;
			    a,span{
			    	text-transform: none;
    				color:$main-text;
			    }
    		}
		}
		form.cart,
		p.cart{
			margin-bottom: 30px;
		}
		p.cart{
			float: left;
		}
		.cart{
			.single_add_to_cart_button{
              letter-spacing: 0;
              height: 40px;
              &.button{
                margin-right: 1px;
                float: left;
                border: 2px solid $title-text;
                background: $title-text;
                color: $white;
                text-transform: uppercase;
                margin-bottom: 10px;
              }
              &:hover{
                  color: $white;
                  border-color: $primary-color;
                  background: $primary-color;
              }
			}
		}
	}
}


div.swatch-wrapper{
  margin: 5px;
  background: $qty_bg;
  text-align: center;

  &.selected,
  &:hover{
    border: 1px solid $primary-color;
    padding: 2px;
  }

  .attribute_pa_color_picker &{
    padding: 1px;
    @include border-radius(100%);
    .swatch-anchor{
      width: 14px!important;
      height: 14px!important;
      @include border-radius(100%);
    }
  }
}



.woocommerce-accordions{

  padding-bottom:40px;
  margin-bottom: 60px;
  border-bottom:1px solid $border-second-color;

  .woocommerce-accordions-item{
    border: 1px solid $border-second-color;
    padding: 11px 30px;
    margin-bottom: 20px;
    h3.accordions-title{
      margin: 4px 0 0;
      font-size:14px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      line-height: 20px;
      font-weight: 700;
      a{
          color: $title-text;
      }
    }
    h2.tab-description-title{
      margin-bottom: 30px;
      font-size: 18px;
    }
    .shop_attributes{
      .alt{
        td{
          background: $qty_bg;
        }
      }
      th{
        color: $title-text;
        font-weight: 600;
      }
      th,td{
        border: none;
      }
    }
  }
  .entry-content{
    border-top:1px solid $border-second-color;
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    padding-top: 15px;
    #reviews{
      #reply-title,
      h3.comments-title{
          margin-bottom: 30px;
          font-size: 18px;
      }
      p{
        margin-bottom: 15px;
      }
    }
    .comment-list > li > .comment-item{
        margin-bottom: 20px;
    }
  }
}
/** =========================
    7. Upsells, Related, Cross-sells
*** =========================*/
.woocommerce{
  .upsells-products,
  .related-products,
  .cross-sells {
    margin-bottom: 20px;
    text-align: center;
    > h3{
        font-size: 36px;
        margin: 0 0 40px;
        padding: 0 45px;
        text-transform: uppercase;
        display: inline-block;
        color:$title-text;
        letter-spacing: 0.2em;
        position: relative;
        &:after,
        &:before{
            content:"";
            width:2px;
            height: 26px;
            background: $title-text;
            position: absolute;
            right:0;
            top:50%;
            @include transform(translatey(-65%));
        }
        &:before{
            left:0;
        }
    }
    ul.shop-products{
        li.product{
            width: 100% !important;
        }
    }
  }
}
/** =========================
    8. Page Cart
*** =========================*/
.woocommerce-empty {
    margin: 40px 0 80px;
    text-align: center;
    .cart-empty-icon{
    	font-size: 60px;
    	margin-bottom: 30px;
    }
    .cart-empty{
    	margin-bottom: 50px;
    }
}


.woocommerce-page,
.woocommerce{
	.cart-collaterals{
		.coupon{
			margin-bottom: 50px;
			.form-coupon{
				position: relative;
    			padding-right: 160px;
    			.btn{
    				position: absolute;
				    right:0;
				    top:0;
				    width: 140px;
				    height:100%;
    			}
    			#coupon_code{
    				border:none;
				    border-bottom:1px solid $border-color;
				    padding:10px 0;
				}
			}
		}
		.cross-sells{
			width: 100%;
    		margin-bottom: 20px;
		}
		.cart_totals{
			width: 100%;
    		float: none;
    		table{
    			width: 100%;
    			border-bottom: 1px solid $border-color;
    			margin-bottom: 15px;
    		}
		}
	}
}
.woocommerce-cart{
	.wc-proceed-to-checkout{
		padding: 0;
    	margin-bottom: 40px;
	}
	.cart-collaterals{
		.cart_totals{
			tr{
				th,td{
					border: none;
				    font-size:18px;
				    font-weight: 400;
				    text-transform: uppercase;
				    line-height: 21px;
				}
				td{
					letter-spacing: 0.2em;
					strong{
						font-weight: 300;
					}
				}
				th{
					padding: 12px 30px;
				}
			}
		}
	}
}
.woocommerce{
	form.woocommerce-shipping-calculator{
		.form-row{
			padding: 0;
		}
	}
	table.cart{
		th.product-name{
			min-width: 25%;
		}
		.product-thumbnail{
			width: 150px;
		}
		td.product-thumbnail{
			padding-left: 0;
    		text-align: left;
		}
		img{
			width: 130px;
		}
		.product-remove{
			width: 30px;
		}
		input.btn,
		input.button{
			line-height: 1.42857;
		}
		.quantity-group{
			float: none;
			margin: 0 auto;
		}
	}
	table.shop_table{
		.product-stock-stauts,
		.product-price,
		.product-subtotal,
		.product-quantity{
			text-align: center;
		}
	}
	ul#shipping_method{
		li{
			text-indent: 0;
	    	line-height: normal;
	    	padding-left: 0;
	    	label{
	    		display: inline;
			    font-weight: normal;
			    margin: 0;
	    	}
		}
	}
}
.woocommerce-page{
	.cart_totals{
		table{
			td{
				text-align: right;
			}
		}
	}
}
/** =========================
    9. Page Checkout
*** =========================*/
.woocommerce-page,
.woocommerce{
	form.checkout{
		.form-row-first,
		.form-row-last{
			float: left;
		    margin-right: 0;
		    width: 100%;
		}
	}
	.shopping-cart-title{
		span{
			font-size: smaller;
    		text-transform: none;
		}
	}
}
#ship-to-different-address{
	label{
		font-weight: normal;
	}
}
.woocommerce{
	.woocommerce-checkout,
	.woocommerce-account,
	.coupon,
	div.cart-collaterals{
		h2,h3{
			font-size: 14px;
		    font-weight:700;
		    letter-spacing: 0.2em;
		    color:$title-text;
		    margin-bottom: 25px;
		    text-transform: uppercase;
		    padding: 15px;
		    text-align: center;
		    background: $qty_bg;
		}
	}
	table.shop_table.woocommerce-checkout-review-order-table{
		margin-bottom: 0;
		tfoot{
			th{
				vertical-align: top;
			    padding: 20px 0;
			    text-transform: capitalize;
			    font-weight: 400;
    			color:$title-text;
			}
			th,td{
				border-top: 1px solid $border-color;
		    padding-bottom: 15px;
		    padding-top: 15px;
		    color:$main-text;
			}
		}
		th.product-total,
		td{
			vertical-align: top;
	    text-align: right;
	    padding-left: 0;
	    padding-right: 0;
      .variation{
        margin-top: 10px;
        dt,dd{
          margin: 0;
          font-weight: normal;
        }
      }
		}
		th,td{
			&:first-child{
				text-align: left;
			}
		}
		td{
			border-top: 1px solid $border-color;
		    padding-bottom: 15px;
		    padding-top: 15px;
		    color:$main-text;
		    span.amount{
		    	font-family:$heading-font;
			    font-size:18px;
			    letter-spacing: 0.2em;
			    font-weight: 700;
		    }
		}
	}
	form.checkout_coupon,
	form.login,
	form.register{
		border-radius: 0;
	}
	#ship-to-different-address{
		label{
			display: inline;
		    margin: 0;
		    padding: 0;
		}
	}
}
#customer_details {
    margin-bottom: 20px;
    .woocommerce-billing-fields,
    .woocommerce-shipping-fields {
    	margin-bottom: 40px;
    	> p{
    		position: relative;
		    padding:0 0 0 190px;
		    margin-bottom: 30px;
		    input{
		    	border:none;
			    border-bottom:1px solid $border-color;
			    padding:10px 0;
		    }
		    label{
		    	position: absolute;
			    left:0;
			    top:10px;
			    text-transform: uppercase;
			    color:$title-text;;
			    font-weight: normal;
		    }
    	}
    }
}
.select2-container{
	.select2-choice{
		border: none;
		border-bottom:1px solid $border-color;
		line-height: 38px;
		@include border-radius(0);
	}
}
.select2-drop-active{
	border-color: $border-color;
}
#form-order-review{
	#order_review_heading{
		padding-left: 15px;
    	padding-right: 15px;
	}
}
.woocommerce-checkout{
	#payment{
		background: none;
	    border-top: 1px solid $black;
	    border-radius: 0;
	    .place-order{
	    	margin: 0;
		    padding-left: 50px;
		    padding-right: 50px;
	    }
	    ul.payment_methods{
	    	padding: 0;
		    margin-bottom: 20px;
		    border-bottom: none;
		    li{
		    	padding: 10px 0;
		    	label{
		    		display: inline;
				    margin: 0;
				    color:$main-text;
				    font-weight: normal;
				    position: relative;
				    outline: none;
            cursor: pointer;
				    &:before{
				    	content: "";
					    width:13px;
					    height:13px;
					    border:1px solid $black;
					    border-radius:100%;
					    position: absolute;
					    left:-32px;
					    top:0;
					    background: $white;
					    outline: none;
				    }
		    	}
		    	input{
		    		opacity: 0;
		    		&:checked + label:before{
		    			background: $black;
		    		}
		    	}
		    	img{
		    		margin: -2px 4px 0 0.5em;
		    	}
		    }
	    }
	    div.form-row{
	    	padding: 0;
	    	textarea{
	    		height: 7em;
	    	}
	    }
	    div.payment_box{
	    	border-radius: 0;
		    margin: 10px 0 0;
		    padding: 20px;
		    width: auto;
		    background: $white;
		    color:$main-text;
		    line-height: 24px;
		    border:1px solid $border-color;
		    &:before,&:after{
		    	display: none;
		    }
	    }
	    .payment_method_paypal{
	    	img{
	    		min-height: 40px;
	    	}
	    	.about_paypal{
	    		font-size: 13px;
    			line-height: 40px;
	    	}
	    }
	}
	#place_order{
		width: 100%;
    	color: $white;
	}
}
.woocommerce{
	.order_details{
		padding: 0;
	}
}
.woocommerce{
  table.order_details{
    tfoot{
      tr{
        th,
        td{
          &:last-child{
            white-space: nowrap;
            text-align: right;
            font-weight: 400;
            padding-right: 0;
          }
        }
      }
    }
    tbody{
      td{
        padding-left: 0;
        padding-right: 0;
        &:last-child{
          text-align: right;
        }
      }
    }
    thead{
      th:last-child{
        text-align: right;
      }
    }
  }
}
.woocommerce-order-received{
  h2{
    font-size: 24px;
  }
}


/** =========================
    10. Page Wist list
*** =========================*/
.woocommerce{
	table.wishlist_table{
		font-size: 100%;
		tr{
			td.product-thumbnail{
				a{
					max-width:150px;
    				width:150px;
				}
			}
		}
		tbody{
			td{
			    font-size:22px;
			}
			td.product-name{
				a{
					font-size: 24px;
				}
			}
			td.product-add-to-cart{
				a{
					white-space: nowrap;
					color: #fff;
					@include transform(translate(0));
					width: 160px;
					line-height: 24px;
					display: inline-block!important;
          font-family: $font-stack;
          letter-spacing: 0;
          &.loading{
            @include opacity(1);
            &:after{
              display: none;
            }
            &:before{
              display: block;
            }
          }
          &.added{
            font-size: 0;
            &:after{
              margin-left: -8px;
              @include FontAwesome('\f00c');
              font-size: 16px;
              position: absolute;
              top:0;
              left: 50%;
              line-height: 36px;
            }
          }
				}
			}
		}
		th.product-stock-stauts{
			min-width: 20%;
		}
	}
	th.product-name{
		min-width: 100%;
	}
	table.wishlist_table.cart{
		a.remove:hover{
			background: none;
		}
	}
  .table-responsive{
    margin-bottom: 25px;
  }
	table.cart {
    margin: 0;
		tbody{
			td{
				border-bottom: 1px solid $border-color;
		    border-top:none;
		    text-align: center;
		    font-size:18px;
		    font-family:$heading-font;
		    color:$border-dark-color;
		    letter-spacing: 0.2em;
		    font-weight: 700;
		    &.actions{
		    	border:none;
  				padding:50px 0;
		    }
        .variation{
          margin-top: 10px;
          dt,
          dd{
            margin: 0;   
            font-size: 16px;         
          }
        }
			}
			td.product-thumbnail{
				padding-left: 0;
			}
			td.product-name{
        text-align: left;
				a{
					font-size:18px;
			    color:$title-text;
			    font-family:$font-stack;
			    letter-spacing: 0;
			    font-weight: 400;
          &:hover,
          &:focus{
            color: $primary-color;
          }
				}
			}
		} 
		thead{
			th{
				background: $qty_bg;
			    text-align: center;
			    font-family:$heading-font;
			    color:$title-text;
			    letter-spacing: 0.2em;
			    font-weight: 700;
			    border:none;
			    font-size:14px;
			    padding:18px 0;
			    line-height: normal;
			}
		}
	}
}

/** =========================
    11. Woocommerce Composer
*** =========================*/
/**
 * category-products-tab
 */
.woocommerce-category-products-tab{
  margin-bottom: 30px;
  ul.block-heading-tabs{
    padding: 0;
    margin: 0 0 55px;
    list-style: none;
    text-align: center;
    li{
      display: inline-block;
      padding: 0 10px;
      margin: 0 20px;
      position: relative;

      &:before,
      &:after{
        position: absolute;
        content:"";
        width:1px;
        height:10px;
        background: $primary-color;
        top:50%;
        @include transform(translatey(-65%));
        @include transition();
        @include opacity(0);
      }
      &:before{
        left: -10px;
      }
      &:after{
        right:-10px;
      }
      a{
        font-weight:600;
        text-transform: uppercase;
        color:$main-text;
        letter-spacing: 0.2em;
      }

      a:hover,
      &.ui-tabs-active a{
        color: $border-dark-color;
      }

      &.ui-tabs-active{

        &:before,
        &:after{
          @include opacity(1);
        }
        &:before{
          left: 0;
        }
        &:after{
          right: 0;
        }
      }
    }
  }
}

/**
 * Products carousel tab
 */
.woocommerce-products-carousel-tab{
  margin: 0 auto 30px;
  max-width: 1720px;
  ul.block-heading-tabs {
    padding: 0;
    margin: 0 0 55px;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 50px;
      position: relative;
      @include transition();
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        font-size: 18px;
        color: $main-text;
        font-family: $heading-font;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }
      a:hover,
      &.ui-tabs-active a{
        color: $black;
      }
      &.ui-tabs-active{
        @include transform(scale(1.5));
      }
    }
  }
  .woocommerce {
    ul.shop-products {
      &.owl-carousel {
        li.product {
          padding-bottom: 0;
        }
      }
    }
  }

  &.skin-light{
    ul.block-heading-tabs {
      li{
        a:hover,
        &.ui-tabs-active a{
          color: $white;
        }
      }
    }

    .woocommerce{
      ul.shop-products{
        &.owl-carousel{
          li.product{
            .product-image-container{
              a.product-thumbnail{
                border: none;
              }
            }
          }
          h3{
            a{
              color: $white;
              &:hover{
                color: $primary-color;
              }
            }
          }
        }
      }
    }

  }

}

